<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<button id="load">Load people</button>
<br /><br />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
